RewriteEngine on

<IfModule mod_rewrite.c>
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>

Redirect 301 mschwandt.de https://www.mschwandt.de

<IfModule mod_headers.c>
<FilesMatch "\.(ico|avif|webp|jpeg|jpg|png|css|js|ttf)$">
Header set Cache-Control "max-age=31536000, public"
</FilesMatch>
</IfModule>
